.contact-font{
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #d1d1d1;
}

.inputn{
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    width:49%;
    border: 2px solid #00aeef;
}

textarea{
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;

    height: 17rem;
    border: 2px solid #00aeef;
    
}

.btn-submit{
    font-family: "Nunito", sans-serif;
    font-size: 1.1rem;
    font-weight: bolder;

    width: 8rem;
    background:transparent;   
    border:2px solid #7a5cfa;
    color: #7a5cfa;
    transition: all .5s;
}

.btn-submit:hover{ 
    background: #7a5cfa;
    color: #ffffff;
}

@media(min-width:426px) {
    .widt1{
        width: 50%;
    }    
}

@media (max-width:425px){
    .widh1{
        width: 100vw;
    }
}

@media (max-width: 426px) {
    .contact-font{
        font-family: "Poppins", sans-serif;
        font-size: 1.3rem;
        font-weight: bold;
        color: #d1d1d1;
    }

    .inputn{
        font-family: "Roboto", sans-serif;
        font-size: .6rem;
    }

    textarea{
        font-family: "Roboto", sans-serif;
        font-size: .6rem;
    }

    .btn-submit{
        font-family: "Nunito", sans-serif;
        font-size: .6rem;
        font-weight: bolder;
    
        width: 5rem;
    }    
}